/*Media Queries*/

@media screen and (max-width: 1300px) {
	
	body{
		font-size: 12px;
	} 

	#wrapper {
		max-width: 1100px;
	}
}


@media screen and (max-width: 830px) {
	body{
		font-size: 12px;
	} 

	label{
        display:block;
        text-align:right; 
    }
    nav {
    	display: none;
    	margin-right: 0;
    	margin-top: 1.5em;
    }

    nav a {
    	display: block;
    	float: none;
    	text-align: center;
    }


    #toggle:checked + nav{
        display:block;
    }

	.project {
		/*display: block;*/
		width: 40%;
		margin: .5 auto;
	}

	#logo {
		width: 4em;
		float: left;
	}


}

@media screen and (max-width: 500px) {
	.project {
		display: block;
		width: 90%;
	}
}