@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Cabin:400,500,700,600);

body {
	background-color: #f6f6f6;
	font-size: 16px
}

.feature-project p {
	font-family: "Cabin";
	font-size: 1.2em;
	font-weight: 400;
	width: 70%;
	line-height: 1.6em;
	color: #3b404f;
	margin: 5em auto;


}

section img {
	width: 65%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 2.5em 0;
}

#CCQ_logo {
	width: 40%;
	padding-bottom: 5em;

}

#logo {
	position: fixed;
	z-index: 10;
	width: 6.8%;
}