* {
	padding: 0;
	margin: 0;
}


#wrapper {
	margin: 0 auto;	
	width: 1300px;
}


header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

#intro {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#projects {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
